// ベーススタイル
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  h1, h2 {
    text-align: center;
  }
  h1 {
    background-color: #333;
    color: white;
    padding: 0 0;
    margin: 0;
  }
  h2 {
    margin-top: 20px;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  img{
    width: 100%;
  }
  
.top-bar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    text-align: center;
    align-items: center;
    .topbar-left{
        width: 60px;
        color: white;
        font-size: 30px;
    }
    .topbar-right{
        width: 60px;
        color: white;
        text-align: end;
    }
}

  // 結果表示スタイル
  .results-container {
    position: absolute;
    // width: 100%;
    top: 0;
    margin-top: 60px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0);
    z-index: -50;
    .item {
      margin-bottom: 20px;
      display: flex;
      flex-flow: column;
      img {
        max-width: 100%;
      }
    }
  }

  // フォームスタイル
  .form-container {
    position: absolute;
    z-index: -10;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100%;
    margin-top: 60px;
    padding: 30px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.5s ease-in-out;
    &.open {
        left: 0;
    }
  
    form {
      display: flex;
      flex-direction: column;
    }
  
    label {
      margin-top: 10px;
      font-weight: bold;
    }
  
    input, select, button {
      margin-top: 5px;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  
    input[type="checkbox"] {
      width: auto;
      margin-top: 0;
    }
  
    .checkbox-container {
      display: flex;
      align-items: center;
  
      label {
        margin-left: 5px;
      }
  
      button {
        margin-left: 10px;
        padding: 5px 10px;
        background-color: #007BFF;
        color: white;
        border: none;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    button {
      margin-top: 20px;
      background-color: #28a745;
      color: white;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: #218838;
      }
    }
  
    #downloadButton,
    #htmlDownloadButton,
    #titleDownloadButton {
      background-color: #6c757d;
  
      &:hover {
        background-color: #5a6268;
      }
    }
  }
  
  // モーダルスタイル
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
  
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      border-radius: 10px;
    }
  
    .close-button {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  
      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-top: 10px;
        font-weight: bold;
      }
  
      input, select, button {
        margin-top: 5px;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
  
      button {
        margin-top: 20px;
        background-color: #28a745;
        color: white;
        border: none;
        cursor: pointer;
  
        &:hover {
          background-color: #218838;
        }
      }
    }
  }
  

  